<html>
<body *ngIf="isUserAuthenticated()">

  <main>
    <table>
      <thead>
        <tr>
          <th style="width: 10px;">Id</th>
          <th style="width: 150px;">Login</th>
          <th style="width: 200px;">Imie</th>
          <th style="width: 140px;">Nazwisko</th>
          <th class='select' style="width: 60px;"> </th>
        </tr>
      </thead>
    </table>
    <div *ngFor="let p of users">
      <app-users [data]="p" (deleteUsersClick)="DeleteUsersClick($event)" ></app-users>
      
    </div>
  </main>
  <br />
  <main>
    <table border="1">
      <tbody>
        <tr>
          <label style="margin-left: 10%;">Page:</label>
          <input class="button" type="number" name="page" [(ngModel)]="page" />
          <label>Rows:</label>
          <input class="button" type="number" name="rowsPerPage" [(ngModel)]="rowsPerPage" />
          <button style="position: absolute; right: 15%;" class="button" (click)="refresh()">Odśwież</button>
          <button style="position: absolute; right: 5%;" class="button" (click)="addProduct()">Dodaj produkt do bazy</button>
        </tr>
      </tbody>
    </table>
  </main>
  </body>
</html>
