
<div class="productForm">
  <div class="container">
    <form #addUser="ngForm" (ngSubmit)="onSubmit(addUser.value)">
      <div class="brand-title">User ADD</div>
      <div class="inputs">
        <label>name</label>
        <input type="text" name="name" id="name" ngModel />

        <label>surrname</label>
        <input type="text" name="surrname" id="surrname" ngModel />

        <label>login</label>
        <input type="text" name="login" id="login" ngModel />

        <label>password</label>
        <input type="password" name="password" id="password" ngModel />
      </div>

      <button (click)="anuluj()">Anuluj</button>
      <button type="submit">DODAJ</button>
    </form>
  </div>
</div>
